.App {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  font-family: "Cabin Sketch";
  font-size: 60px
}

h2 {
  font-family: "Barrio";
}

h3, p, #link {
   font-family: "Didact Gothic";
 }

 p {
   font-size: 20px
 }

button {
  border-radius: 5px;
  background-color: #fbcdea;
  font-family: "Didact Gothic";
  font-size: 15px;
  border: none;
  outline: none;
  padding: 5px;
  width: 150px;
}

input {
  width:250px;
  height:15px;
  font-family: "Didact Gothic";
  font-size: 15px;
  border: none;
  outline: none
}
#free-btn {
  background-color: #81F7E5;
}

#lc-btn {
  background-color: #B6DCFE;
}

#ex-btn {
  background-color: #DEC5E3;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
